:root {
  --color_background: #000000;
  --color_border: #14213d;
  --color_text1: #fca311;
  --color_text2: #ca69e7;
  --color_text3: #ffffff;
  --color_text4: #35b1e2;
  --color_estado0: #ef476f;
  --color_estado1: #ffd166;
  --color_estado2: #06d6a0;
  --color_estado3: #ffafcc;
}

body {
  background-color: var(--color_background);
}

h1 {
  text-align: center;
  color: var(--color_text1);
}

p {
  text-align: left;
  color: var(--color_text4);
}
table,td,th {
  border-collapse: collapse;
  border: 1px solid var(--color_text3);
  padding: 5px;
}
caption {
    text-align: center;
    color: var(--color_text2);
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 30px;
}
table {
  width: 100%;
}
tr:nth-child(even) { 
    background-color: var(--color_text4);
    color: var(--color_background);
}
th {
  color: var(--color_background);
  background-color:var(--color_estado0);
  text-align: center;
}
td {
  color: var(--color_text3);
  text-align: left;
}


/*Simulando un boton con css*/
a:link,
a:active {
  /*dos obejtos con el mismo estilo*/
  color: var(--color_estado0);
  background-color: var(--color_border);
  text-decoration: none;
  padding: 15px 25px; /*dos={1:izquierda y derecha; 2:arriva y abajo}*/
  text-align: center;
  text-decoration: none;
  display: block; /*Para que los bloques no se coloquen uno sobre el otro*/
}

a:visited {
  /*estdo -clickeado*/
  color: var(--color_estado1);
  padding: 15px 25px;
  border: 10px solid var(--color_background);
  text-decoration: none;
}
a:hover {
  /*sobre el enlace*/
  color: var(--color_background);
  text-decoration: underline;
  padding: 15px 25px;
  border: 10px solid var(--color_estado1);
  background-color: var(--color_text1);
}