:root {
  --color_background: #fdf0d5;
  --color_border1: #780000;
  --color_border2: #003049;
  --color_text1: #c1121f;
  --color_text2: #0466c8;
}
/*con el asterisco y llaves, podemos dar generalizaciones sobre nuestra hoja de 
estilos, similara a regex, * representa tood*/
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color_background);
}
/*con el simbolo almohadilla, especificamos que vamos a crear un 
elmento especial, es decir un elemento "ID", a diferencia del elmento class
que es el que sique a este, el elmento ID, solamente puede aparecer una vez
en toda la pagina HTML*/
#ide_titulo_principal{
  color: var(--color_border1);
  text-align: center;
}

h2 {
  color: var(--color_text1);
}
p {
  color: var(--color_text2);
}
span {
  color: var(--color_border1);
  border: 1px solid var(--color_text2);
}
